@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
.banner img {
  width: 100%;
  height: 100%;
}

.btn-prymary {
  border-radius: 8px;
  background: #ff900e;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  margin-bottom: 3rem;
  cursor: pointer;
}

header {
  max-width: 1920px;
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  font-size: 2.6rem;
  color: #131313;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner style  */

.banner-content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem 8rem;
}
.banner-drs {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin: 1rem 3rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

#teams-conatner {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.teams-images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-left: 4rem;
}

.teams-content {
  padding-left: 5rem;
  padding-right: 5rem;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .title-1 {
  color: #727272;
  font-weight: 500;
}

.teams-title .title-2 {
  color: #131313;
  font-weight: 700;
}

.teams-title .title-3 {
  color: #ff900e;
  font-weight: 700;
}

/* resposiv media queries  */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  .banner-title {
    margin: auto;
  }
  .banner-drs {
    margin: auto;
  }
  nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 35px;
  }
  .banner-title {
    margin: auto;
  }
  .banner-drs {
    margin: auto;
  }
  nav {
    flex-direction: column;
  }
}
